ion-card-title{
    text-align: center;
}

.list-button{
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.card-ticket{
    margin: 4%;
}

.icon-toolbar{
    margin-left: 5%;
    width: 20px;
    height: 20px;
}

img{
    width: 5px;
    height: 5px;
}

.textArea-text{
    border:solid 1.5px gray; 
    border-radius: 10px;
    font-size: 13px;
    text-align: justify;
}