<ion-header class="ion-no-border">
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-back-button mode="md" color="primary" defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-icon slot="start" name="key" class="icon-toolbar" color="primary"></ion-icon>
    <ion-title color="primary">Contraseña</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <ion-card>
    <ion-card-content>
    <!-- Recuperar-password form -->
    <form (ngSubmit)="recoverPassword()" [formGroup]="passwordForm">
        <ion-img src="../../../assets/img/icon.png" class="logoRef"> </ion-img>
        <hr>
        <p class="titulo-principal"><b>Recuperación de contraseña</b></p>
        <hr>
        
      <!--Email-->
      <ion-label class="label-text">Dirección de email</ion-label>
      <ion-item mode="md">
        <ion-icon name="mail-outline" style="zoom:0.8;" color="primary"></ion-icon> &nbsp;&nbsp;
        <ion-input type="email" class="input-text"  clearInput formControlName="email"></ion-input>
      </ion-item>

      <!--Advertencias-->
      <div class="errors" *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required">
          <ion-label class="error-container">Este campo es requerido</ion-label>
        </span>
        <span *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
          <ion-label class="error-container">Ingrese un correo válido</ion-label>
        </span>
      </div>

      <hr>
      <!--Botón de formulario-->
      <ion-button expand="block" class="login-button" color="primary" type="submit" [disabled]="!passwordForm.valid">
        Enviar
        <ion-icon name="send-outline" slot="start" style="zoom:1.3;"></ion-icon> &nbsp;
      </ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>
