ion-item {
    --border-color: transparent !important;
    --background: #F4F3EF;
    border-radius: 14px;
    margin-bottom: 14px;
    margin-top: 14px;
}

ion-card {
    background-color: #FFF;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

ion-card-header{
    height: 60px;
}

.label-text{
    color: gray;
    font-size: 11px;
    margin-left: 5px;
}
  
.input-text{
    font-size: 13px;
}

.textArea-text{
    border-radius: 10px;
    font-size: 12px;
    text-align: justify;
}

ion-textarea{
    background-color: #F4F3EF;
}

.combo-box{
    margin-bottom: 14px;
    margin-top: 14px;
    font-size: 13px;
    background-color: #F4F3EF;
    border-radius: 10px;
}

.list-button{
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.icon-toolbar{
    margin-left: 5%;
    width: 22px;
    height: 22px;
}
