<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" name="cog" class="icon-toolbar"></ion-icon>
    <ion-title>Cambiar de Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content>
      <form (ngSubmit)="saveStatus()" [formGroup]="statusForm">
        <!--Nuevo Status-->
        <ion-label class="label-text">Prioridad</ion-label>
        <ion-item mode="md">
          <ion-label style="font-size: 13px; color: gray;">Status</ion-label>
          <ion-select okText="Guardar" cancelText="Cancelar" class="combo-box" formControlName="statusCode">
            <ion-select-option *ngFor="let option of statusOptions" [value]="option.status">{{option.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!--Advertencia-->
        <div class="errors" *ngIf="statusCode.invalid && (statusCode.dirty || statusCode.touched)">
          <span *ngIf="statusCode.errors.required">
            <ion-label class="error-container">Este campo es requerido</ion-label>
          </span>
        </div>

        <!--Usuario que tramita-->
        <ion-label class="label-text">Usuario que tramita</ion-label>
        <ion-item mode="md">
          <ion-input type="text" class="input-text" formControlName="userProcess"></ion-input>
        </ion-item>

        <!--Observaciones o comentarios-->
        <ion-label class="label-text">Observaciones o comentarios</ion-label>
        <ion-item mode="md">
          <ion-textarea id="areaDescripcion" name="descripcion"
          rows="5" cols="1000" class="textArea-text textArea" formControlName="description">
          </ion-textarea>
          <ion-icon name="chatbox-ellipses" slot="start" style="zoom:0.8;" color="primary"></ion-icon>
        </ion-item>

        <hr>

        <ion-button expand="block" class="list-button" color="dark" type="submit" [disabled]="!statusForm.valid">
          Guardar
          <ion-icon slot="start" name="save" style="zoom:1.3;"></ion-icon> &nbsp;
        </ion-button>

        <ion-button expand="block" class="list-button" color="danger" type="reset"
          (click)="closeModal()">
          Cancelar
          <ion-icon slot="start" name="close-circle" style="zoom:1.3;"></ion-icon> &nbsp;
        </ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>