<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" name="cog" class="icon-toolbar"></ion-icon>
    <ion-title>Cambiar de Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content>
        <!--Nuevo Status-->
        <ion-label class="label-text">Prioridad</ion-label>
        <ion-item>
          <ion-label style="font-size: 13px; color: gray;">Status</ion-label>
          <ion-select okText="Guardar" cancelText="Cancelar" [(ngModel)]="statusCode" class="combo-box">
            <ion-select-option *ngFor="let option of statusOptions" [value]="option.status">{{option.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!--Usuario que tramita-->
        <ion-label class="label-text">Usuario que tramita</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="usuario" class="input-text" [value]="user"></ion-input>
        </ion-item>

        <!--Observaciones o comentarios-->
        <ion-label class="label-text">Observaciones o comentarios</ion-label>
        <ion-item lines="none">
          <ion-textarea id="areaDescripcion" name="descripcion" [(ngModel)]="description"
          disabled="false" rows="5" cols="1000" class="textArea-text textArea">
        </ion-textarea>
        </ion-item>
        <hr>

      <ion-button expand="block" class="list-button" color="dark" type="submit"
      (click)="saveStatus()">
        <ion-icon slot="start" name="save"></ion-icon>
        Guardar
      </ion-button>

      <ion-button expand="block" class="list-button" color="danger" type="reset"
      (click)="closeModal()">
        <ion-icon slot="start" name="close-circle"></ion-icon>
        Cancelar
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>