ion-content{
  --background:linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url('../../../assets/img/bg-login.jpg') no-repeat center center / cover;
}

.input-item {
--border-color: transparent !important;
--background: #F4F3EF;
border-radius: 14px;
margin-bottom: 12px;
margin-top: 12px;
}

ion-card {
background-color: #FFF;
margin-top: 4%;
margin-left: 7.7%;
margin-right: 7.7%;
}

.login-button {
margin-left: 7%;
margin-right: 7%;
--background-activated: #CC9796;
}

.icon {
color: white;
}

.animated {
animation-duration: 1s;
animation-fill-mode: both;
}

@keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}

.fadeIn {
animation-name: fadeIn;
}

.logoRef {
width: 100px;
height: 100px;
margin-left: auto;
margin-right: auto;
}

.passicon{
margin-top: 35px;
color: #2c2c2c;
}

.label-text{
color: gray;
font-size: 10px;
}

.input-text{
font-size: 13px;
}

.textArea-text{
  border-radius: 10px;
  font-size: 12.5px;
  text-align: justify;
}

ion-textarea{
  background-color: #F4F3EF;
}

.icon-toolbar{
  margin-left: 5%;
  width: 20px;
  height: 20px;
}