<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-icon slot="start" name="people" class="icon-toolbar"></ion-icon>
    <ion-title>Contacto Administrador</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

    <!-- Login form -->
    <form>
        <ion-img src="../../../assets/img/icon.png" class="logoRef"> </ion-img>

      <!--Nombre-->
      <ion-label class="label-text">Nombre</ion-label>
      <ion-item lines="none" class="input-item">
          <ion-icon name="person" style="zoom:0.8;" color="primary"></ion-icon> &nbsp;&nbsp;
          
        <ion-input disabled="false" type="text" [(ngModel)]="name" name="name" class="input-text"></ion-input>
      </ion-item>

      <!--Email-->
      <ion-label class="label-text">Dirección de email</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-icon name="mail-open" style="zoom:0.8;" color="primary"></ion-icon> &nbsp;&nbsp;
        <ion-input disabled="false" type="email" [(ngModel)]="email" name="email" class="input-text"></ion-input>
      </ion-item>

      <!--Asunto-->
      <ion-label class="label-text">Asunto</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-icon name="bookmark" style="zoom:0.8;" color="primary"></ion-icon> &nbsp;&nbsp;
        <ion-input disabled="false" type="text" [(ngModel)]="affair" name="asunto" class="input-text"></ion-input>
      </ion-item>

      <!--Su Mensaje-->
      <ion-item lines="none">
        <ion-textarea id="areaMensaje" name="areaMensaje" placeholder=" ⌨ Su Mensaje" 
        [(ngModel)]="message" rows="5" cols="1000" class="textArea-text textArea">
      </ion-textarea>
      </ion-item>

      <hr>

      <!--Botón de formulario-->
      <ion-button expand="block" class="login-button" color="primary" (click)="handleContactAdmin()">
        <ion-icon name="send-outline" style="zoom:1.3;"></ion-icon> &nbsp;
        <p class="icon"> Enviar </p>
      </ion-button>
    </form>

    </ion-card-content>
  </ion-card>
</ion-content>
