<ion-header>
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event)" color="primary">
        <ion-icon slot="icon-only" name="ellipsis-vertical" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-icon slot="start" name="briefcase" class="icon-toolbar" color="primary"></ion-icon>

    <ion-title color="primary">Problem Sweeper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <hr>
  <hr>

  <!--Botones-->
  <ion-button class="list-button" expand="full" (click)="newTicket()">
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-label>Nuevo Ticket</ion-label>
  </ion-button>

  <ion-button class="list-button" expand="full" (click)="assignedTickets()">
    <ion-icon slot="start" name="alert-circle"></ion-icon>
    <ion-label>Tickets Asignados</ion-label>
  </ion-button>

  <ion-button class="list-button" expand="full" (click)="tickets()">
    <ion-icon slot="start" name="information-circle"></ion-icon>
    <ion-label>Mis tickets</ion-label>
  </ion-button>

  <hr>
  <hr>
  <div style="margin-left: 7.5%;">
    <ion-icon name="file-tray-stacked-outline" style="zoom:1.5;"></ion-icon>
  </div>

  <div>
    <h1 class="titulo-principal"><b>Tickets asignados</b></h1>
  </div>

  <app-tickets-grid [code]="code" [domain]="domain" 
    [items]="items" [status]="status" (closeEvent)="closeAssignedTicket($event)"></app-tickets-grid>

</ion-content>
