<ion-header  class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-icon slot="start" name="cog" class="icon-toolbar"></ion-icon>
    <ion-title>Editar Ticket</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-ticket">

    <ion-card-header color="primary">
      <ion-card-title>Ticket</ion-card-title>
    </ion-card-header>

    <hr>

    <ion-card-content>
      <ion-label color="primary">Campos</ion-label>

      <ion-item>
        <ion-label style="font-size: 13px; color: gray;">Área</ion-label>
        <ion-select okText="Guardar" cancelText="Cancelar" [(ngModel)]="area" class="combo-box">
          <ion-select-option *ngFor="let option of areaOptions" [value]="option">{{option.nombre}} - {{option.nivel}}</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label style="font-size: 13px; color: gray;">Incidente</ion-label>
        <ion-select okText="Guardar" cancelText="Cancelar" [(ngModel)]="incident" class="combo-box">
          <ion-select-option *ngFor="let option of incidentOptions" [value]="option">{{option.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label style="font-size: 13px; color: gray;">Prioridad</ion-label>
        <ion-select okText="Guardar" cancelText="Cancelar" [(ngModel)]="incident.prioridad" class="combo-box" disabled="true">
          <ion-select-option *ngFor="let option of priorityOptions" [value]="option.prioridad">{{option.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <hr>
    
      <ion-label color="primary">Descripción</ion-label>
      <hr>
      <ion-item lines="none">
        <ion-textarea id="areaMensaje" name="areaMensaje" placeholder="Su mensaje..." 
        [(ngModel)]="description" rows="6" cols="1000" class="textArea-text textArea"></ion-textarea>
        <ion-icon name="chatbox-ellipses" slot="start" style="zoom:0.8;" color="primary"></ion-icon>
      </ion-item>
      <hr>

      <ion-button expand="block" class="list-button" color="light" (click)="presentActionSheet()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Agregar Imagen
      </ion-button>
     <hr>
     
     <div id="photo-album">
       <!--Fotografías-->
     </div>

      <hr>
      <ion-button expand="block" class="list-button" color="dark"
      (click)="cleanFields()">
        <ion-icon slot="start" name="color-wand"></ion-icon>
        Limpiar
      </ion-button>

      <ion-button expand="block" class="list-button" (click)="modifyTicket()">
        <ion-icon slot="start" name="save"></ion-icon>
        Guardar
      </ion-button>
  </ion-card-content>
  </ion-card>
</ion-content>
