<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-icon slot="start" name="layers" class="icon-toolbar"></ion-icon>
    <ion-title>Tickets Asignados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-tickets-grid [code]="code" [domain]="domain" 
    [items]="items" [status]="status" (closeEvent)="closeAssignedTicket($event)"></app-tickets-grid>
</ion-content>
