<ion-header  class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-icon slot="start" name="documents" class="icon-toolbar"></ion-icon>
    <ion-title>Trámite de Ticket</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
        <ion-button fill="outline" expand="block" color="light" class="header-button"
        (click)="handleTicketUpdate()">
          <ion-icon name="pencil" style="zoom:0.9"></ion-icon>&nbsp;
          Editar
        </ion-button>
    </ion-card-header>
    <hr>

    <ion-card-content>

      <div style="position: absolute;">
        <ion-label>No. de Ticket</ion-label>
        <ion-title color="warning"># {{ code }}</ion-title>
      </div>
      <div style="float: right">
        <ion-label>Status actual</ion-label>
        <ion-title color="primary">{{item.status}}</ion-title>
      </div>
      <hr>
      <hr>
      <hr>

      <!--Botón de status-->
      <ion-button expand="block" class="list-button" color="dark" (click)="mostrarModal()">
        <ion-icon slot="start" name="pricetag"></ion-icon>
        Cambiar de Status
      </ion-button>

      <hr>
      <hr>
      <hr>

        <!--Sede-->
        <ion-label class="label-text">Sede</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="sede" class="input-text" [value]="item.sede"></ion-input>
        </ion-item>

        <!--Sector-->
        <ion-label class="label-text">Sector</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="sector" class="input-text" [value]="item.sector"></ion-input>
        </ion-item>

        <!--Área-->
        <ion-label class="label-text">Área</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="area" class="input-text" [value]="item.area"></ion-input>
        </ion-item>

        <!--Nivel-->
        <ion-label class="label-text">Nivel</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="nivel" class="input-text" [value]="item.nivel"></ion-input>
        </ion-item>

        <!--Categoría-->
        <ion-label class="label-text">Categoría</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="categoria" class="input-text" [value]="item.categoria"></ion-input>
        </ion-item>

        <!--Incidente-->
        <ion-label class="label-text">Incidente</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="incidente" class="input-text" [value]="item.incidente"></ion-input>
        </ion-item>

        <!--Prioridad-->
        <ion-label class="label-text">Prioridad</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="prioridad" class="input-text" [value]="item.prioridad"></ion-input>
        </ion-item>

        <!--Respuesta Planificada-->
        <ion-label class="label-text">Respuesta Planificada</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="respuesta" class="input-text" [value]="item.tiempo_respuesta"></ion-input>
        </ion-item>

        <!--Solución Planificada-->
        <ion-label class="label-text">Solución Planificada</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="solucion" class="input-text" [value]="item.tiempo_solucion"></ion-input>
        </ion-item>

        <!--Tiempo en Espera o Hold On-->
        <ion-label class="label-text">Tiempo en Espera o Hold On</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="tiempo-espera" class="input-text" [value]="item.tiempo_espera"></ion-input>
        </ion-item>

        <!--Tiempo Respuesta Efectiva-->
        <ion-label class="label-text">Tiempo Respuesta Efectiva</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="tiempo-respuesta" class="input-text" [value]="item.primera_respuesta"></ion-input>
        </ion-item>

        <!--Tiempo de Solución Efectivo-->
        <ion-label class="label-text">Tiempo de Solución Efectivo</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="prioridad" class="input-text" [value]="item.status_solucion"></ion-input>
        </ion-item>

        <!--Descripción-->
        <ion-label class="label-text">Descripción</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-textarea id="areaDescripcion" name="descripcion" [value]="item.descripcion" 
          disabled="true" rows="5" cols="1000" class="textArea-text textArea">
        </ion-textarea>
        </ion-item>

        <hr>

        <!--Imágenes-->
        <ion-title color="dark" style="text-align: center;">Imágenes por Status</ion-title>

        <hr>

        <div id="photo-album" *ngIf="statusPhotos">
          <!--Fotografías-->
        </div>
        <ion-title *ngIf="!statusPhotos" style="text-align: center;color: gray; font-size: 13px;">No hay imágenes...</ion-title>

        <hr>
        <hr>

        <!--Usuarios asignados-->
        <ion-title color="dark" style="text-align: center;">Usuario(s) Asignados</ion-title>
        <ion-list>
          <ion-item *ngFor="let user of assignedUsers" class="list-item">
            <ion-label class="list-text">{{user.nombre}}</ion-label>
            <ion-label class="list-text" style="text-align: center;">
              {{user.fecha_asignacion}}
            </ion-label>
            <ion-buttons slot="end">
              <ion-button color="warning" (click)="getOut(user.codigo)">
                <ion-icon name="log-out" style="zoom: 1.3;"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>

        <hr>

        <!--Usuario a asignar-->
        <ion-label class="label-text">Usuarios a asignar</ion-label>
        <ion-item class="form-item">
          <ion-label style="font-size: 13px; color: gray;">Usuario</ion-label>
          <ion-select okText="Guardar" cancelText="Cancelar" [(ngModel)]="newUserCode" class="combo-box">
            <ion-select-option *ngFor="let user of aviableUsers" [value]="user.codigo">{{user.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!--Botón de agregar-->
      <ion-button expand="block" class="option-button" color="primary" (click)="addUser()">
        <ion-icon slot="start" name="add"></ion-icon>
        Agregar
      </ion-button>
      <!--Botón de trasladar-->
      <ion-button expand="block" class="option-button" color="secondary" (click)="transferUser()">
        <ion-icon slot="start" name="repeat"></ion-icon>
        Trasladar
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
