ion-card{
    margin-top: auto;
}

.item-content{
    margin-top: 25px;
}

ion-card-subtitle{
    margin-top: 25px;
}

.tramite-icon{
    --ion-color-tertiary:#1ab394;
    zoom:2.2;
}

.delete-icon{
    zoom:2.2; 
    margin-right: 1px
}

.label-text{
    font-size: 12px; 
    color: gray;
}

.item-text{
    font-size: 12px;
    width: 50%;
}

.warning-div{
    margin-left: 5%;
    margin-right: 5%;
}