<!--Cards-->
<ion-grid fixed>
  <ion-row>
    <ion-col  size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
    *ngFor="let item of items; let i = index">
    
      <ion-card>
        <ion-card-header>

          <div style="float: right;">
            <ion-icon color="danger" (click)="handleCloseTicket(item.codigo)" name="close-circle-outline" class="delete-icon"></ion-icon>&nbsp;
            <ion-icon color="tertiary" (click)="handleTramiteTicket(item)" name="chevron-forward-circle-outline" class="tramite-icon"></ion-icon>
          </div>
      
          <ion-card-subtitle class="card-subtitle">Código {{item.codigo}}</ion-card-subtitle>
          <ion-card-title color="dark" class="card-title">{{i+1}} | Ticket</ion-card-title>
          
          
        </ion-card-header>
          <hr>
          
        <ion-card-content class="item-content">
          <ion-list>

            <ion-item lines="none">
              <ion-badge color="secondary">Incidente:</ion-badge>
              <h3 color="dark" class="item-text">{{item.incidente}}</h3>
              <ion-icon slot="end" name="hammer-outline" color="primary"></ion-icon>
            </ion-item>

            <ion-item lines="none">
              <ion-badge color="secondary">Status:</ion-badge>
              <h3 color="dark" class="item-text">{{item.status}}</h3>
              <ion-icon slot="end" name="alert-outline" color="primary"></ion-icon>
            </ion-item>

            <ion-item lines="none">
              <ion-badge color="secondary">Categoria:</ion-badge>
              <h3 color="dark" class="item-text">{{item.categoria}}</h3>
              <ion-icon slot="end" name="bookmarks-outline" color="primary"></ion-icon>
            </ion-item>

            <ion-item lines="none">
              <ion-badge color="secondary">Prioridad:</ion-badge>
              <h3 color="dark" class="item-text">{{item.prioridad}}</h3>
              <ion-icon slot="end" name="document-attach-outline" color="primary"></ion-icon>
            </ion-item>

            <ion-item lines="none">
              <ion-badge color="secondary">Fecha:</ion-badge>
              <h3 color="dark" class="item-text">{{item.fecha_registro}}</h3>
              <ion-icon slot="end" name="calendar-outline" color="primary"></ion-icon>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="warning-div">
<ion-card *ngIf="!status">
  <ion-card-content>
    <ion-icon slot="start" name="warning" style="zoom: 1.3;"></ion-icon>&nbsp;
      No cuenta con tickets asignados actualmente...
  </ion-card-content>
</ion-card>
</div>