<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="primary" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-icon slot="start" name="lock-open" class="icon-toolbar"></ion-icon>
    <ion-title>Seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Cambiar contraseña</ion-card-title>
    </ion-card-header>

    <hr>

    <ion-card-content>  
      <!-- Password form -->
      <form (ngSubmit)="updatePassword()" [formGroup]="passwordForm">

        <!--Nombre-->
        <ion-label class="label-text">Nombre de Usuario</ion-label>
        <ion-item mode="md">
          <ion-icon name="person" style="zoom:0.8;" color="primary"></ion-icon> &nbsp;&nbsp;
          <ion-input type="text" class="input-text" formControlName="name"></ion-input>
        </ion-item>

        <!--Usuario-->
        <ion-label class="label-text">Usuario</ion-label>
        <ion-item mode="md">
          <ion-icon name="information-circle" style="zoom:0.8;" color="primary"></ion-icon> &nbsp;&nbsp;
          <ion-input type="text" class="input-text" clearInput formControlName="user"></ion-input>
        </ion-item>

        <!--Advertencia-->
        <div class="errors" *ngIf="user.invalid && (user.dirty || user.touched)">
          <span *ngIf="user.errors.required">
            <ion-label class="error-container">Este campo es requerido</ion-label>
          </span>
        </div>

        <!--Contraseña-->
        <ion-label class="label-text">Contraseña</ion-label>
        <ion-item mode="md">
          <ion-icon name="key" style="zoom:0.8;" color="primary"></ion-icon> &nbsp;&nbsp;    
          <ion-input type="password" class="input-text" (ionChange)='changePassword($event.target.value)' 
            clear-on-edit="false" formControlName="password"></ion-input>
          <ion-icon slot="end" [name]="statusIcon1" class="status-icon" [color]="status1"> </ion-icon>
        </ion-item>

        <!--Advertencia-->
        <div class="errors" *ngIf="password.invalid && (password.dirty || password.touched)">
          <span *ngIf="password.errors.required">
            <ion-label class="error-container">Este campo es requerido</ion-label>
          </span>
        </div>

        <!--Confirmar Contraseña-->
        <ion-label class="label-text">Confirmar Contraseña</ion-label>
        <ion-item mode="md">
          <ion-icon name="alert-circle" style="zoom:0.8;" color="primary"></ion-icon> &nbsp;&nbsp;    
          <ion-input type="password" class="input-text" (ionChange)='changeConfirmPassword($event.target.value)' 
            clear-on-edit="false" formControlName="confirmPassword"></ion-input>
          <ion-icon slot="end" [name]="statusIcon2" class="status-icon" [color]="status2"> </ion-icon>
        </ion-item>

        <!--Advertencia-->
        <div class="errors" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <span *ngIf="confirmPassword.errors.required">
            <ion-label class="error-container">Este campo es requerido</ion-label>
          </span>
        </div>

        <small style="color: gray;font-size: 11px; margin-left: 5px;">Fortaleza de la Contraseña</small>
        <ion-progress-bar [color]="passwordStatus" [value]="securityPassword/100"></ion-progress-bar>
        <hr>
        <hr>

        <!--Botón de formulario-->
        <ion-button expand="block" class="list-button" color="primary" (click)="cleanInputs()">
          <ion-icon slot="start" name="color-wand"></ion-icon>
          Limpiar
        </ion-button>
        <ion-button expand="block" class="list-button" type="submit" color="dark" [disabled]="!passwordForm.valid || password.value != confirmPassword.value">
          Guardar
          <ion-icon slot="start" name="save" style="zoom:1.3;"></ion-icon> &nbsp;
        </ion-button>

      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
