<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-button color="primary" (click)="return()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-icon slot="start" name="document" class="icon-toolbar"></ion-icon>
    <ion-title>Detalle de Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary"></ion-card-header>
    <hr>

    <ion-card-content>

      <div style="position: absolute;">
        <ion-label>No. de Ticket</ion-label>
        <ion-title color="warning"># {{ codigo }}</ion-title>
      </div>
      <div style="float: right">
        <ion-label>Status actual</ion-label>
        <ion-title color="primary">{{item.status}}</ion-title>
      </div>

      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>

        <!--Sede-->
        <ion-label class="label-text">Sede</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="sede" class="input-text" [value]="item.sede"></ion-input>
        </ion-item>

        <!--Sector-->
        <ion-label class="label-text">Sector</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="sector" class="input-text" [value]="item.sector"></ion-input>
        </ion-item>

        <!--Área-->
        <ion-label class="label-text">Área</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="area" class="input-text" [value]="item.area"></ion-input>
        </ion-item>

        <!--Nivel-->
        <ion-label class="label-text">Nivel</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="nivel" class="input-text" [value]="item.nivel"></ion-input>
        </ion-item>

        <!--Categoría-->
        <ion-label class="label-text">Categoría</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="categoria" class="input-text" [value]="item.categoria"></ion-input>
        </ion-item>

        <!--Incidente-->
        <ion-label class="label-text">Incidente</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="incidente" class="input-text" [value]="item.incidente"></ion-input>
        </ion-item>

        <!--Prioridad-->
        <ion-label class="label-text">Prioridad</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="prioridad" class="input-text" [value]="item.prioridad"></ion-input>
        </ion-item>

        <!--Respuesta Planificada-->
        <ion-label class="label-text">Respuesta Planificada</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="respuesta" class="input-text" [value]="item.tiempo_respuesta"></ion-input>
        </ion-item>

        <!--Solución Planificada-->
        <ion-label class="label-text">Solución Planificada</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="solucion" class="input-text" [value]="item.tiempo_solucion"></ion-input>
        </ion-item>

        <!--Tiempo en Espera o Hold On-->
        <ion-label class="label-text">Tiempo en Espera o Hold On</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="tiempo-espera" class="input-text" [value]="item.tiempo_espera"></ion-input>
        </ion-item>

        <!--Tiempo Respuesta Efectiva-->
        <ion-label class="label-text">Tiempo Respuesta Efectiva</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="tiempo-respuesta" class="input-text" [value]="item.primera_respuesta"></ion-input>
        </ion-item>

        <!--Tiempo de Solución Efectivo-->
        <ion-label class="label-text">Tiempo de Solución Efectivo</ion-label>
        <ion-item lines="none">
          <ion-input disabled="true" type="text" name="prioridad" class="input-text" [value]="item.status_solucion"></ion-input>
        </ion-item>

        <!--Descripción-->
        <ion-label class="label-text">Descripción</ion-label>
        <ion-item lines="none">
          <ion-textarea id="areaDescripcion" name="descripcion" [value]="item.descripcion" 
          disabled="true" rows="5" cols="1000" class="textArea-text textArea">
        </ion-textarea>
        </ion-item>
        <hr>

        <ion-title color="dark" style="text-align: center;">Imágenes por Status</ion-title>
        <hr>
        <div id="photo-album" *ngIf="statusPhotos">
          <!--Fotografías-->
        </div>
        <ion-title *ngIf="!statusPhotos" style="text-align: center;color: gray; font-size: 13px;">No hay imágenes...</ion-title>

        <hr>
        <hr>
        <ion-title color="dark" style="text-align: center;">Usuario(s) Asignados</ion-title>

    </ion-card-content>
  </ion-card>
</ion-content>
