<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-button color="primary" (click)="return()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-icon slot="start" name="document" class="icon-toolbar"></ion-icon>
    <ion-title>Detalle de Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Ticket</ion-card-title>
    </ion-card-header>
    <hr>

    <ion-card-content>

      <div style="position: absolute; margin-left: 20px;">
        <ion-label class="label-text">No. de Ticket</ion-label>
        <ion-text color="warning"><h1 style="font-size:20px;"># {{ code }}</h1></ion-text>
      </div>
      <div style="float: right; margin-right: 20px;">
        <ion-label class="label-text">Status actual</ion-label>
        <ion-text color="primary"><h1 style="font-size:20px;">{{item.status}}</h1></ion-text>
      </div>

      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>

        <!--Sede-->
        <ion-label class="label-text">Sede</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="sede" class="input-text" [value]="item.sede"></ion-input>
        </ion-item>

        <!--Sector-->
        <ion-label class="label-text">Sector</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="sector" class="input-text" [value]="item.sector"></ion-input>
        </ion-item>

        <!--Área-->
        <ion-label class="label-text">Área</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="area" class="input-text" [value]="item.area"></ion-input>
        </ion-item>

        <!--Nivel-->
        <ion-label class="label-text">Nivel</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="nivel" class="input-text" [value]="item.nivel"></ion-input>
        </ion-item>

        <!--Categoría-->
        <ion-label class="label-text">Categoría</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="categoria" class="input-text" [value]="item.categoria"></ion-input>
        </ion-item>

        <!--Incidente-->
        <ion-label class="label-text">Incidente</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="incidente" class="input-text" [value]="item.incidente"></ion-input>
        </ion-item>

        <!--Prioridad-->
        <ion-label class="label-text">Prioridad</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="prioridad" class="input-text" [value]="item.prioridad"></ion-input>
        </ion-item>

        <!--Respuesta Planificada-->
        <ion-label class="label-text">Respuesta Planificada</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="respuesta" class="input-text" [value]="item.tiempo_respuesta"></ion-input>
        </ion-item>

        <!--Solución Planificada-->
        <ion-label class="label-text">Solución Planificada</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="solucion" class="input-text" [value]="item.tiempo_solucion"></ion-input>
        </ion-item>

        <!--Tiempo en Espera o Hold On-->
        <ion-label class="label-text">Tiempo en Espera o Hold On</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="tiempo-espera" class="input-text" [value]="item.tiempo_espera"></ion-input>
        </ion-item>

        <!--Tiempo Respuesta Efectiva-->
        <ion-label class="label-text">Tiempo Respuesta Efectiva</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="tiempo-respuesta" class="input-text" [value]="item.primera_respuesta"></ion-input>
        </ion-item>

        <!--Tiempo de Solución Efectivo-->
        <ion-label class="label-text">Tiempo de Solución Efectivo</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-input disabled="true" type="text" name="prioridad" class="input-text" [value]="item.status_solucion"></ion-input>
        </ion-item>

        <!--Descripción-->
        <ion-label class="label-text">Descripción</ion-label>
        <ion-item lines="none" class="form-item">
          <ion-textarea id="areaDescripcion" name="descripcion" [value]="item.descripcion" 
          disabled="true" rows="5" cols="1000" class="textArea-text textArea">
        </ion-textarea>
        </ion-item>

        <hr>

        <!--Imágenes-->
        <ion-title color="dark" style="text-align: center;">Imágenes por Status</ion-title>
        
        <hr>
        
        <div id="photo-album" *ngIf="statusPhotos">
          <!--Fotografías-->
        </div>
        <ion-title *ngIf="!statusPhotos" style="text-align: center;color: gray; font-size: 13px;">No hay imágenes...</ion-title>

        <hr>
        <hr>

        <!--Usuarios asignados-->
        <ion-title color="dark" style="text-align: center;">Usuario(s) Asignados</ion-title>
        <ion-list>
          <ion-item *ngFor="let user of assignedUsers" class="list-item">
            <ion-label class="list-text">{{user.nombre}}</ion-label>
            <ion-label class="list-text" style="text-align: center;">
              {{user.fecha_asignacion}}
            </ion-label>
          </ion-item>
        </ion-list>

        <hr>
        <hr>
        <hr>

        <!--Bitácora-->
      <ion-title color="dark" style="text-align: center;">Bitácora</ion-title>

      <hr>
      
      <table>
        <tr>
          <th>Acción</th>
          <th>Fecha/Hora</th>
          <th>Observaciones o comentarios</th>
        </tr>

        <tr *ngFor="let action of binnacle">
          <td>{{action.actividad}}</td>
          <td>{{action.fecha_registro}}</td>
          <td>{{action.observaciones}}</td>
        </tr>
      </table>

    </ion-card-content>
  </ion-card>
</ion-content>
